
@mixin wh($w,$h){
    width: $w;
    height: $h;
}
@mixin flex1(){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flex2(){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex4(){
    display: flex;
    flex-direction: column;
}
@mixin flex3(){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@mixin flex5(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex6(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex7(){
    display: flex;
    align-items: center;
}
@mixin flex8(){
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
@mixin flex9(){
    display: flex;
    justify-content:space-around;
    align-items: center;
}
@mixin flex10(){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@mixin flex11(){
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:start;
}
@mixin flex12(){
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:end;
}
@mixin fontsize($f,$c){
    font-size: $f ;
    color: $c;
}
@mixin wh2($w,$h){
    min-width: $w;
        min-height: $h;
}
@mixin tl($w,$h,$v,$n){
    top: $w;
    left: $h;
    transform: translate($v, $n);
}
$Oversizeds:.8rem;
$Oversizeds2:.6rem;
$Oversized:.3125rem;
$middleSize:.25rem;
$middleSize2:.28rem;
$smallSize:.2rem;




$textColor:rgb(180,180,180); //深灰
$white:rgb(255,255,255);  //白色
$Orange1:rgb(248,207,57); //深黄
$hoverOrange1:rgb(249,217,97); //浅黄
$grayColor1:rgb(247,247,247); //浅灰
$grayColor:rgb(189,189,192); //浅灰1
$grayColor2:rgb(244,244,244); //浅灰2
$graysColor:rgb(230,234,238); //深灰2
$graysColor3:rgb(153,153,166); //深灰3
$graysColor4:rgb(153,153,166); //深灰3透明
$graysColor5:rgb(90,80,68); //深灰4
$black:rgb(102,102,102); //浅黑
$black1:rgb(45,45,45); //一般黑
$black2:rgb(40,40,40); //一般黑2
$blacks:rgb(0,0,0); //深黑
$blacks2:rgb(28,31,35); //深黑2
$blue:rgb(0,161,214); //浅蓝
$font1: #666; //文字；
$boxShadow: 0 .025rem .05rem rgba(0, 0, 0, 0.0784313725); //阴影

