<!--
 * @Author: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @Date: 2024-01-05 20:59:32
 * @LastEditors: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @LastEditTime: 2024-01-05 21:02:04
 * @FilePath: \Vue-wallpapers site\src\views\Wallpaper\components\ImageComponent\2.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./2.css">
</head>
<body>
    <label>
        <!--提醒切斷文字-->
        <div class="remind">Click To Switch Day/Night!</div>
        <input type="checkbox"/>
        <div class="scene">
          <!--太陽月亮-->
          <div class="sun"></div>
          <div class="moon"></div>
          <!--左上角文字-->
          <div class="lefttopText">
            <div class="blueblock"></div>
            <h5>A DAY<br>ON THE ISLAND</h5>
            <h1>Aegean Sea<br><span class="nightText">Night Sky</span><span class="dayText">Day Sky</span></h1>
            <p>動態互動<br>網頁特效入門<br><br>基礎html/css練習</p>
          </div>
          <div class="allstars">
            <div class="star1"></div>
            <div class="star2"></div>
            <div class="star3"></div>
            <div class="star4"></div>
            <div class="star5"></div>
            <div class="star6"></div>
            <div class="star7"></div>
            <div class="star8"></div>
            <div class="star9"></div>
            <div class="star10"></div>
            <div class="star11"></div>
            <div class="star12"></div>
            <div class="star13"></div>
            <div class="star14"></div>
            <div class="star15"></div>
            <div class="star16"></div>
            <div class="star17"></div>
            <div class="star18"></div>
            <div class="star19"></div>
            <div class="star20"></div>
            <div class="star21"></div>
            <div class="star22"></div>
            <div class="star23"></div>
            <div class="star24"></div>
            <div class="star25"></div>
            <div class="star26"></div>
            <div class="star27"></div>
            <div class="star28"></div>
            <div class="star29"></div>
            <div class="star30"></div>
          </div>
          <!--建築物們-->
          <div class="building">
            <div class="house1">
              <div class="window">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </div>
            <div class="house2">
              <div class="door"></div>
            </div>
            <div class="house3">
              <div class="wall">
                <div class="window"></div>
              </div>
              <div class="wall">
                <div class="window"></div>
              </div>
              <div class="wall">
                <div class="window"></div>
              </div>
              <div class="roof"> 
                <div class="rooftop">
                  <div class="cross"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
</body>
</html>